@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Primary-color-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Primary-color-Soft-red: hsl(14, 88%, 65%);
    --Gradient-Soft-violet: hsl(273, 75%, 66%);
    --Gradient-Soft-blue: hsl(240, 73%, 65%);
    --Neutral-color-Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Neutral-color-Dark-grayish-blue: hsl(240, 6%, 50%);
    --Divider-color-Light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 100%;
    width: 28em;
}

/* -- FAQ Card -- */
article {
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Images */
.img-wrap {
    max-height: 10em;
}

#mobile-img {
    z-index: 2;
    position: relative;
    bottom: 110px;
}

#mobile-pattern {
    z-index: 1;
    position: relative;
    bottom: 195px;
}

.desktop {
    display: none;
}

/* -- Card heading and questions -- */
.questions-container {
    width: 85%;
    margin-bottom: 5em;
    font-size: 1.1em;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--Primary-color-Very-dark-desaturated-blue);
    margin-top: 0;
}

details {
    border-bottom: 1px solid var(--Divider-color-Light-grayish-blue);
    padding: 1em 0 1em;
}

details p {
    line-height: 1.5em;
    color: var(--Neutral-color-Dark-grayish-blue);
}

summary {
    color: var(--Neutral-color-Very-dark-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::marker {
    content: none;
}

summary:hover {
    color: var(--Primary-color-Soft-red);
}

/* Footer */
footer {
    margin-top: 1em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }